body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.active {
  border-bottom: 1px gray dotted;
}

.hidden {
  display: none;
}

/*
  Item creation container stuff goes here.
*/
#create-new-item-container {
}

#create-new-item-container input {
  border: 1px black solid;
  width: 300px;
  height: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#create-new-item {
  border: 1px black solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/*
  Filter container stuff goes here
*/
#filter-container {
  padding: 0px;
  text-align: left;
}

#filter-container ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

#filter-container li {
  display: inline;
  padding-right: 10px;  
}

#filter-container a {
  color: gray;
  text-decoration: none;
}

#filter-container a:hover {
  border-bottom: 1px gray dotted;
}

/*
  Checklist container stuff goes here.
*/
#checklist-container a {
  color: blue;
  text-decoration: none;
}

#checklist-container a:hover {
  border-bottom: 1px blue dotted;
}

#checklist-container table {
  width: 100%;
  border-spacing: 0px;
}

#checklist-container th {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px #6678b1 solid;
  vertical-align: middle;
}

#checklist-container tbody tr:hover {
  background: rgb(213, 213, 213);
  text-decoration: underline;
}

#checklist-container tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #6678b1 solid;
  vertical-align: middle;
}


/* Completed checkbox header. */
#checklist-container th:first-child {
  width: 50px;
  text-align: center;
}

/* Completed checkbox items. */
#checklist-container td:first-child {
  text-align: center;
}

/* Date Created column header. */
#checklist-container th:first-child + th {
  width: 230px;
  padding-left: 20px;
  text-align: left;
}

/* Date created items. */
#checklist-container td:first-child + td {
  padding-left: 20px;
}

/* Task header. */
#checklist-container th:first-child + th + th {
  text-align: left;
  padding-left: 20px;
}

/* Task data. */
#checklist-container td:first-child + td + td {
  padding-left: 20px;
}

/* Delete header. */
#checklist-container th:first-child + th + th + th {
  width: 50px;
  text-align: center;
}

/* Delete text. */
#checklist-container td:first-child + td + td + td {
  width: 50px;
  text-align: center;
}
