<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
  <script src="/static/scripts/main.js"></script>
  <script src="/static/scripts/models.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/style/main.css" />

  <title>My Checklist App</title>
</head>
<body>
  <input id="content-input"></input>
  <button id="create-new-item" type="button">Create New Item</button>
  <table>
    <thead>
      <tr>
        <td>Completed?</td>
        <td>Date Created</td>
        <td>Task</td>
      </tr>
    </thead>
    <tbody id="checklist-main">
    </tbody>
  </table>

  <script id="checklist-template" type="x-handlebars-template">
    {{#each this}}
      <tr id={{key}}>
        <td>
          {{#if completed}}
            <input type="checkbox" id={{key}} checked="checked">
          {{else}}
            <input type="checkbox" id={{key}}>
          {{/if}}
        </td>
        <td>{{createdDate}}</td>
        <td>{{content}}</td>
      </tr>
    {{/each}}
  </script>

</body>
</html>
