<!DOCTYPE html>
<html>
<head>
  <!--
    I know there are MANY external dependencies here. In practice, I would
    use some kind of Javascript packaging engine to minimize the number of
    HTTP requests needed to build a page, but I am unfamiliar how many of them
    work and was trying to avoid complexity due to my time constraint.
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.3/spin.min.js"></script>
  <script src="/static/scripts/main.js"></script>
  <script src="/static/scripts/models.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/style/main.css" />
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <title>My Checklist App</title>
</head>
<body>
  <div id="create-new-item-container">
    <input id="content-input" value="Enter Task Here"></input>
    <button id="create-new-item" type="submit">Submit</button>
  </div>

  <div id="loading">
  </div>

  <div id="filter-container">
    <ul id="filter">
      <li>Filter:</li>
      <li><a href="#" id="all">All</a></li>
      <li><a href="#" id="completed">Completed Tasks</a></li>
      <li><a href="#" id="notcompleted">Not Completed Tasks</a></li>
    </ul>
  </div>

  <div id="checklist-container">
    <table id="checklist">
      <thead>
        <tr>
          <th class="completed">Completed?</th>
          <th class="dateCreated">Date Created</th>
          <th class="task">Task</th>
          <th class="delete">Delete</th>
        </tr>
      </thead>
      <tbody id="checklist-main">
      </tbody>
    </table>
  </div>

  <!--This is a Handlebars.js template-->
  <script id="checklist-item" type="x-handlebars-template">
    <tr id={{key}}>
      <td>
        <span class="hidden">{{completedHelper}}</span>
        {{#if completed}}
          <input type="checkbox" data-key={{key}} checked="checked" />
        {{else}}
          <input type="checkbox" data-key={{key}} />
        {{/if}}
      </td>
      <td id={{createdDate}}><span class="hidden">{{createdDate}}</span>{{prettyDate}}</td>
      <td>{{content}}</td>
      <td>[<a href="#" data-key={{key}}>x</a>]</td>
    </tr>
  </script>

  <!--This is also a Handlebars.js template-->
  <script id="checklist-template" type="x-handlebars-template">
    {{#each this}}
      {{> checklist-item}}
    {{/each}}
  </script>

</body>
</html>
